{% extends "base/base.html" %}

{% block content %}

<div class="row d-flex align-items-center justify-content-center align-items-center">
	
		<form action="{% url 'login' %}" method="post" class="p-4 col-sm-6 shadow border mb-3"> 
			{% csrf_token %}
			{{form.errors}}
			{{form}}

			<div class="d-flex justify-content-end mt-3">
				<button class="btn btn-dark px-4" type="submit">Entrar</button>
			</div>

			<div class="dropdown-divider"></div>
			<a href="{% url 'user_new' %}" class="dropdown-item">Ainda não tem conta? Cadastra-se</a>
			<a href="{% url 'password_reset' %}" class="dropdown-item">Esqueceu sua senha? </a>
		</form>
		
	

</div>
{% endblock %}