{% extends "base/base.html" %}

{% block title %} Sobre{% endblock %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
	<img id="todos" class="img-fluid rounded" src="{% static 'images/sobre.png' %}" width="780px" alt="Minha Imagem">
</div>
<div id="sobre" class="sobre d-flex flex-wrap mt-3  justify-content-center">

	<div class="left-side">
		
	</div>

	<div class="right-side d-flex ">

	<div class="">
		<ul>
			<h6>BANNER</h6>
				<li>Paloma</li> 
				<li>Franklin</li> 
				<li>Carlos Eduardo</li>
				<li>Saulo Gabriel</li>
				<li>Guilherme Marques</li>
			</ul>
			
			<ul>
				<h6>DESIGN</h6>
				<li>Elias</li> 
				<li>Rayssa </li> 
				<li>Carlos Samuel</li>
			</ul>
		
	
			<ul>
				<h6>PANFLETO</h6>
				<li>ANNY </li> 
				<li>Jennifer</li> 		
			</ul>	
				
		<ul>
			<h6>APRESENTAÇÃO DA NOITE</h6>
			<li>Barbara Geovanna</li> 
			<li>Gabriel</li> 
			<li>Matheus Sampaio </li>
			<li>Marcelo</li>
			<li>Yasmin</li>
		</ul>

	</div>

	<div class="mx-2">
		<ul>
			<h6>APRESENTAÇÃO DA MANHÃ </h6>
			<li>Júlia Sampaio </li> 
			<li>Jerbeson</li> 
			<li>Lucas Mendes </li>
			<li>Carlos Alexandre </li>
			<li>Luan Rodrigues </li>
		</ul>
	
		<ul>
			<h6>Trabalho Escrito</h6>
			<li>Maria Nilce </li> 
			<li>Jeancarlos</li> 		
		</ul>
		<ul>
			<h6>GRÁFICA </h6>
			<li>Júlia Sampaio</li>
		</ul>
					
		<ul>
			<h6>CRIAÇÃO DO SITE </h6>
			<li>Matheus Pinheiro </li>
		</ul>
	
</div>
	

</div>

{% endblock %}

