{% extends "base/base.html" %}

{% block title %} Home{% endblock %}

{% block content %}


<div class="banner-area">
  <div class="banner">
    <h2>Olá usuário 😆</h2>
    <p>
      A MiraiTech é um Serviço de 
      Gerenciamento de Tarefas empresariais, Focado na sua Organização e Produtividade.
    </p>
  </div>
</div>
<main>
  <div class="container mt-4">
  <h3 class="text-center">Benefícios de utilizar nossos serviços</h3>

  <div id="cards-area" class="container d-flex justify-content-between align-items-center flex-wrap my-4">
      <div class="card-item">
        <div class="card-content">
          <i class="bi bi-pencil-fill"></i>
          <p>Usabilidade</p>
        </div>
      </div>

      <div class="card-item">
        <div class="card-content">
          <i class="bi bi-cone-striped"></i>
          <p>Simplicidade</p>
        </div>
      </div>

      <div class="card-item">
        <div class="card-content">
          <i class="bi bi-cursor"></i>
          <p>Facilidade</p>
        </div>
      </div>

      <div class="card-item">
        <div class="card-content">
          <i class="bi bi-box"></i>
          <p>Melhorias</p>
        </div>
      </div>
  </div>


  <div>

</main>

<footer>
  &copy Todos os direitos reservados
</footer>

{% endblock %}