{% extends 'base/base.html' %}

{% block title  %}Adicionar nova tarefa{% endblock  %}

{% block content %}
<div class="row d-flex justify-content-center">
<form class="col-sm-8 shadows border py-2" method="post" action="{% url 'post-create' %}" enctype="multipart/form-data">
	{% csrf_token %}

	<h2 class="mb-2">Criar Tarefa</h2>

	{{form.as_p}}

	<div class="d-flex justify-content-end">
		<button type="submit" class="btn btn-primary px-4" name="bnt_adicionar">criar</button>
	</div>
</form>
</div>
{% endblock  %}